.header__logo {
    max-width: 142px;
    padding-bottom: 41px;
}

@media all and (max-width:550px) {
    .header__logo {
         padding: 28px 0 31.6px 27px;
    }
}

@media all and (max-width: 320px){
    .header__logo {
       max-width: 103.74px;
    }
}