.page {
    background-color: #000;
    font-family: "Inter", "Arial", sans-serif;
  min-height: 100vh;
}


.auth {
    max-width: 358px;
    width: 430px;
    margin: 0 auto;
}

.form_auth {
    padding-top: 60px;
    max-width: 358px;
}

.form__heading_auth {
    margin: 0;
    color:  white;
    font-family: 'Inter';
font-style: normal;
font-weight: 900;
font-size: 24px;
line-height: 29px;

text-align: center;
padding-bottom: 50px;
}


.form__item_auth{
    max-width: 348px;
    background-color: #000;
    margin: 0;
    height: 27px;
    padding: 0;
    border: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 1) ;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #CCCCCC;
}

.form__input-field_auth {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-left: 0;
    margin-right: 0;
}

.save-button_auth {
    box-sizing: content-box;
    width: 358px;
    height: 50px;
    border: 0;
    padding: 0;
    border-radius: 2px;
   margin: 186px 0 15px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;

}
.save-button_auth:hover {
    cursor: pointer;
    opacity: 0.8;
}

.link_auth {
    color:  white;
    margin: 0 15.5%;
}


.popup__container_auth {
    width: 430px;
    margin: 50px auto;
}


.popup-auth-result { 
padding: 60px 0;
}

.auth-result-icon_ok{
    margin: 0 auto 32px;
    width: 120px;
    height: 120px;
    background-image: url(../../images/yes.svg);
}

.auth-result-heading_ok {
    margin: 0 36px;
    padding: 0;
    max-width: 358;
    box-sizing: border-box;
    font-weight: 900;
font-size: 24px;
line-height: 29px;
text-align: center;
}


.link_header {
    color: white;
    font-weight: 400;
font-size: 18px;
line-height: 1.22;
text-decoration: none;
height: 25px;
}

.header_userEmail {
    color: white;
    font-weight: 500;
font-size: 18px;
line-height: 1.22;
margin: 0 24px 0 0;

}

.header_userEmail-block {
    display: flex;
    align-items: start;

}

.link_esc {
color: #A9A9A9;
}