.auth {
    max-width: 358px;
    width: 430px;
    margin: 0 auto;
    padding-top: 60px;
}
@media all and (max-width: 550px) {
    .auth  {
        padding-top: 40px;
        width: 260px;
        margin: 0 auto;

    }
}